#l{
    width: 60dvh;
    height: 100dvh;
    background-color: #F9F9F9;
    display: block;
    text-align: center;
}
#r{
    margin-left: 60%;
    margin-top: -100dvh;
    width: 92.3dvh;
    height: 100dvh;
    background-color: white;
    border: 0.5px #848E99 solid;
    display: block;
    align-self: center;
    text-align: center;
}
#Recherche{
    height: 23%;
}
#rechinput{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #7676802e;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: -30px;
}
#users{
    height: 77dvb;
    background-color: #DEDEDE;
}
#msg{
    padding-top: 80px;
    font-size: 1.7em;
    color: #333333;
    margin-left: -240px;
    font-family: Geneva, Tahoma, sans-serif;
}
#cv{
    width: 150px;
    height: 20px;
    justify-self: center;
    border-radius: 20px;
    border: none;
    background-color: #848E99;
    color: #F9F9F9;
    margin-top: 10px;
}
#user{
    height: 23%;
    background-color: #FDFDFD;
    display: block;
    border: 0.5px #b2b2b2 solid;
    font-size: 0.8em;
}
#Messags{
    height: 70%;
    background-color: #ffffff;
    display: block;
}
#Messag{
    height: 7%;
    display: block;
    background-color: #FDFDFD;
    border: 0.5px #b2b2b2 solid;
}
#Message{
    width: 80%;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px #b2b2b2 solid;
    padding-left: 15px;
}
#send{
    width: 60px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: 0.5px #848E99 solid;
}
#imguser{
    width: 80px;
}